@font-face {
  font-family: 'Avenir';
  src: url('Avenir.ttc');

  /* font-style: italic; */
}

/* @font-face {
    font-family: 'avenir-heavy';
    src: url('Avenir-Black.otf`') format('truetype');
    font-weight: bold;
  } */

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body {
  background-color: #fbfbfb;
  height: 100vh;
  font-family: Avenir;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

.row img {
  /* max-width: 100%; */
  width: 350px;
  padding-bottom: 20px;
}

.navbar-nav {
  text-align: center;
  justify-content: center;
}

.navbar-nav li a {
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: normal;
  background-color: #fbfbfb;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  /* color: black; */
  color: black;
  background-color: white;
}

.contact-text {
  line-height: normal;
  letter-spacing: normal;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 20px;
}

.contact-text h1 {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -0.01px;
  color: #000000;
  /* font-family: 'avenir-heavy'; */
  font-family: 'Avenir Heavy';
}

.contact-text p {
  font-size: 20px;
  font-weight: normal;
  color: #58595b;
  font-family: 'Avenir Book';
}

.privacy-message {
  font-size: 14px;
  padding: 20px 3px;
  margin-bottom: 0px !important;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
}

form {
  width: 400px;
}

.form-control {
  position: relative;
  /* margin-top: 50px; */
  /* padding: 50px 0px; */
  /* padding-bottom: 30px; */
  min-width: 100%;
  border: none !important;
  background-color: #fbfbfb !important;
}

.form-control input {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-source: linear-gradient(
    to right,
    #0099cc,
    #85baae 83%,
    #cbe5c2 118%
  );
  border-image-slice: 1;
  cursor: text;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0px;
  color: #000000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 40px;
  width: 100%;
  background-color: #fbfbfb;
  font-family: 'Avenir Medium';
}

.form-control label {
  position: absolute;
  padding-top: 10px;
  top: 15px;
  left: 13px;
  pointer-events: none;
  padding: 0px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #383838;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: 'Avenir Book';
}

input::-webkit-input-placeholder {
  opacity: 0;
  font-family: 'Avenir Book';
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0px;
  color: #000000;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.form-control input:focus {
  outline: 0;
  border-bottom-width: 3px;
}

.form-control label {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: all 0.2s;
}

.form-control input:focus + label,
.form-control input:valid + label {
  transform: translateY(-30px);
}

form button {
  height: 40px;
  border-radius: 4px;
  outline: none;
  background: none;
  font-size: 13px;
  width: 100%;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 0px !important;
  padding-top: 0px !important;
  font-family: 'Avenir Heavy';
}

form button:focus {
  outline: 0;
}

form {
  width: 400px;
}

.enabled-background {
  font-family: 'Avenir Heavy';
  box-shadow: 0 2px 4px 0 #009acd;
  background-color: #009acd;
}

.enabled-background:focus {
  transform: scale(98%);
}

.disabled-background {
  background-color: #b5b5b5;
}

/*  Modal code */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /* position: fixed;  */
  /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  /* width: 100%;
    height: 100%; */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border: 1px solid #888;
  width: 400px;
  margin: auto;
  height: 300px;
  padding: 30px 94px 41px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-icon:hover,
.close-icon:focus {
  cursor: pointer;
  font-weight: bold;
  color: grey;
}

.close-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -30px;
  right: -10px;
}

.close-first-line {
  position: absolute;
  height: 25px;
  width: 1px;
  margin-left: 12px;
  background-color: white;
  transform: rotate(45deg);
  z-index: 1;
}

.close-second-line {
  height: 25px;
  width: 1px;
  background-color: white;
  transform: rotate(90deg);
  z-index: 2;
}

.modal-footer a {
  text-decoration: underline;
}

.modal-body p {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.01px;
  color: #000000;
  font-family: 'Avenir Black';
}

.modal-header,
.modal-body,
.modal-footer {
  border: 0;
  padding: 0;
}
.message-container {
  margin-top: 40px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px 8px;
}

.message-container textarea {
  height: auto;
  /* border: none !important; */
  /* padding: 0px 50px; */
  font-family: 'Avenir Book';
  width: 100%;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  /* border: solid 1px #979797; */
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  display: block;
}

.message-container label {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0px;
  padding-left: 7px;
  font-family: 'Avenir Book';
  color: #383838;
}

textarea:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  /* border: none !important;
  border: 2px solid red !important; */
  border-style: solid;
  border-width: 1px !important;
  border-image-source: linear-gradient(
    to right,
    #0099cc,
    #85baae 83%,
    #cbe5c2 118%
  );
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff),
    linear-gradient(to right, #0099cc, #85baae 83%, #cbe5c2 118%) !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

textarea::placeholder {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.09px;
  color: #606060;
}

.error-message-color {
  color: #9b0000;
  font-family: 'Avenir Book';
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }

  img {
    max-width: 200px;
  }

  .contact-text {
    text-align: center;
    margin-left: 0;
  }
  .contact-text p {
    color: #000000;
    font-size: 16px;
  }

  .contact-text span:nth-of-type(1) {
    text-transform: lowercase;
  }
  .contact-text h1 {
    font-size: 40px;
    font-weight: 900;
  }
}

@media only screen and (max-width: 400px) {
  form {
    width: 280px;
  }

  .contact-text {
    text-align: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 990px) {
  .contact-text {
    text-align: center;
    padding-bottom: 25px;
  }

  form {
    margin: auto;
  }
}
