@font-face {
  font-family: 'AvenirBlack';
  src: url('Avenir-Black.ttf');
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('Avenir-Heavy.ttf');
}

@font-face {
  font-family: 'AvenirBook';
  src: url('Avenir-Book.ttf');
  /* font-weight: normal;
  font-style: normal; */
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body {
  background-color: #fbfbfb;
  height: 100vh;
  font-family: Avenir;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

.container-fluid {
  padding-bottom: 50px;
}

.row img {
  /* max-width: 100%; */
  width: 350px;
  padding-bottom: 20px;
}

.navbar-nav {
  text-align: center;
  justify-content: center;
}

.navbar-nav li a {
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: normal;
  background-color: #fbfbfb;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: black;
  background-color: white;
}

.contact-text {
  line-height: normal;
  letter-spacing: normal;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 20px;
}

.contact-text h1 {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -0.01px;
  color: #000000;
  font-family: AvenirHeavy;
}

.contact-text p {
  font-size: 20px;
  font-weight: normal;
  color: #58595b;
  font-family: AvenirBook;
}

.privacy-message {
  font-size: 14px;
  padding: 20px 3px;
  margin-bottom: 0px !important;
}

.main-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  position: relative;
  min-width: 100%;
  border: none !important;
  background-color: #fbfbfb !important;
}

.form-control input {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-source: linear-gradient(
    to right,
    #0099cc,
    #85baae 83%,
    #cbe5c2 118%
  );
  border-image-slice: 1;
  cursor: text;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0px;
  color: #000000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 40px;
  width: 100%;
  background-color: #fbfbfb;
  font-family: 'Avenir Medium';
}

.form-control label {
  position: absolute;
  padding-top: 10px;
  top: 15px;
  left: 13px;
  pointer-events: none;
  padding: 0px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #383838;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: AvenirBook;
}

input::-webkit-input-placeholder {
  opacity: 0;
  font-family: AvenirBook;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0px;
  color: #000000;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.form-control input:focus {
  outline: 0;
  border-bottom-width: 3px;
}

.form-control label {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: all 0.2s;
}

.form-control input:focus + label,
.form-control input:valid + label {
  transform: translateY(-30px);
}

form button {
  height: 40px;
  border-radius: 4px;
  outline: none;
  background: none;
  font-size: 13px;
  width: 100%;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
  border: 0;
  margin-top: 0px !important;
  padding-top: 0px !important;
  font-family: AvenirHeavy;
}

.contact-us-form button:focus {
  outline: none;
}

.contact-us-form {
  width: 400px;
}

.enabled-background {
  font-family: AvenirHeavy;
  box-shadow: 0 2px 4px 0 #009acd;
  background-color: #009acd;
  border: 0;
  outline: none;
}

.enabled-background:focus {
  transform: scale(98%);
}

.disabled-background {
  background-color: #b5b5b5;
}

/*  Modal code */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /* position: fixed;  */
  /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  border: 1px solid #888;
  width: 400px;
  margin: auto;
  height: 300px;
  padding: 30px 94px 41px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-icon:hover,
.close-icon:focus {
  cursor: pointer;
  font-weight: bold;
  color: grey;
}

.close-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -30px;
  right: -10px;
}

.close-first-line {
  position: absolute;
  height: 25px;
  width: 1px;
  margin-left: 12px;
  background-color: white;
  transform: rotate(45deg);
  z-index: 1;
}

.close-second-line {
  height: 25px;
  width: 1px;
  background-color: white;
  transform: rotate(90deg);
  z-index: 2;
}

.modal-footer a {
  text-decoration: underline;
}

.modal-body p {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.01px;
  color: #000000;
  font-family: AvenirBlack;
}

.modal-header,
.modal-body,
.modal-footer {
  border: 0;
  padding: 0;
}
.message-container {
  margin-top: 40px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px 8px;
  height: 100%;
}

.message-container textarea {
  height: auto;
  font-family: AvenirBook;
  width: 100%;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;

  text-align: left;
  padding-left: 6px;
}

.message-container label {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0px;
  padding-left: 7px;
  font-family: AvenirBook;
  color: #383838;
}

textarea:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;

  border-image-source: linear-gradient(
    to right,
    #0099cc,
    #85baae 83%,
    #cbe5c2 118%
  );
  border-width: 3px !important;
  border-image-slice: 1;
  border: solid linear-gradient(to bottom, #ffffff, #ffffff),
    linear-gradient(to right, #0099cc, #85baae 83%, #cbe5c2 118%) !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

textarea::placeholder {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.09px;
  color: #606060;
}

.error-message-color {
  color: #9b0000;
  font-family: AvenirBook;
}

.social-icon {
  height: 30px;
  width: 30px;
  font-size: 14px;
  border-radius: 7px;
  margin-right: 40px;
  cursor: pointer;
  transition: 1s all ease-in-out;
}

.social-icon:hover {
  transform: scale(1.6);
  color: #0099cc;
}

.privacy-container {
  margin-top: 95px;
  border: 2px solid red;
  padding-bottom: 0 !important;
  min-width: 250px;
}

.d-flex {
  list-style: none;
  margin-bottom: 0;
}

footer {
  font-family: AvenirBook;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 0px;
}

h5 {
  font-family: AvenirHeavy;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
}

.icon-section {
  font-family: 'Avenir Medium';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
}

.privacy-section a {
  color: white;
  padding-left: 25px;
  padding-right: 20px;
}

.divider {
  width: 100%;
  padding-bottom: 1px;
  border: 0;
}

.text-uppercase {
  font-family: AvenirHeavy;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0px;
}

@media only screen and (max-width: 984px) {
  .modal-content {
    width: 90%;
  }

  .privacy-container {
    margin-top: 10px;
  }

  img {
    max-width: 200px;
  }

  .contact-text {
    text-align: center;
    margin-left: 0;
  }
  .contact-text p {
    color: #000000;
    font-size: 16px;
  }

  .contact-text span:nth-of-type(1) {
    text-transform: lowercase;
  }
  .contact-text h1 {
    font-size: 40px;
    font-weight: 900;
  }
}

@media only screen and (max-width: 400px) {
  .contact-us-form {
    width: 280px;
  }

  .privacy-container {
    margin-top: 20px;
  }

  .contact-text {
    text-align: center;
    margin-left: 0;
  }

  p,
  a {
    font-size: 14px;
  }

  ul li {
    font-size: 14px;
  }

  .text-uppercase {
    font-size: 16px;
  }
}

@media only screen and (max-width: 990px) {
  .contact-text {
    text-align: center;
    padding-bottom: 25px;
  }

  .contact-us-form {
    margin: auto;
  }
}

@media only screen and (max-width: 576px) {
  .privacy-statement-container {
    padding-top: 20px;
  }
}

.footer-section li:not(:first-child) {
  font-size: 14px;
}
